* {
      box-sizing: border-box;

    }
    body {
      background-image: url("body_background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      font-size: 28px;
      font-family: "Roboto", sans-serif;
      margin: 0;
      line-height: 1.5;
      }
      img {
        max-width: 100%;
        height: auto;
      }
      h1 {
        clear: left;
      } 
      .navbar {
        position: sticky;
        top: 0;
        z-index: 2;
        grid-area: navbar;
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: none;
        border-radius: 0;
        font-family: "Audiowide", sans-serif;
      }
      .navbar li {
        border-radius: 30px;
        color: whitesmoke;
        float: left;
        font-size: 20px;
        padding: 5px;

      }
      .navbar li:not(.search):hover {
        background-color:rgba(23, 23, 23, 0.6) ;
      }
      .form {
        background-color: white;
        border-radius: 30px;
        padding: 5px;

      }
      input[type="submit"] {
        border-radius: 30px;
        padding: 10px;
        border: 0;
        background-color: rgba(28, 54, 122, 1.0);
        color: white;
        cursor: pointer;
      }
      input[name="search"] {
        border: 0;
        width: 100px;
        border-radius: 0;
        outline: none;
        
        transition: 0.7s;
      }
      input[name="search"]:focus {
        width: 200px;
      }
      .header {
        background-color: rgba(0, 0, 0, 0.6);
        color: whitesmoke;
        grid-area:header;
        text-align: center;
        position: relative;
        font-family: "Audiowide", sans-serif;
        text-shadow: 0 0 25px cyan;
      }
      
      .menu {
        grid-area:menu;
        padding-top: 20px ;
      }
      .main {
        grid-area:main;
        padding-top: 20px;
      }
      .content {
        display: grid;
        grid-template-rows: auto auto;
        grid-row-gap: 20px;
      }
      .side {
        grid-area:side;
        padding-top: 20px;
        
      }
      .footer {
        grid-area:footer;
        text-align: center;
        background-color: #6239a7;
        box-shadow: -2px -2px 25px 8px rgba(0, 0, 0, 0.5);
      }
      #social a {
        display:inline-block;
        margin: 20px;
        height: 60px;
      }

      #instagram {
        width: 60px;
        background: url("icon_not_active.png") -69px 0px;
      }
      #telegramm {
        width: 60px;
        background: url("icon_not_active.png")-133px 0px; 
      }
      #whatsapp {
        width: 60px;
        background: url("icon_not_active.png")-205px 0px;
      }
      #facebook {
        width: 60px;
        background: url("icon_not_active.png")-275px 0px;
      }
      #instagram:hover   {
        background: url("social_icons_circle_black.png") -69px 0px;
      }
      #telegramm:hover  {
        background: url("social_icons_circle_black.png") -133px 0px;
      }
      #whatsapp:hover {
        background: url("social_icons_circle_black.png") -205px 0px;
      }
      #facebook:hover {
        background: url("social_icons_circle_black.png")-275px 0px;
      }

      .grid-container {
      display: grid;
      grid-template-columns:  1.5fr 3fr 2fr;
      grid-template-areas: 'navbar navbar navbar' 'header header header ' 'menu  main side'  'footer footer footer '; 
      grid-auto-rows: minmax(100px, auto);
      grid-column-gap: 20px;
      justify-content: center;
      }
      
      /*меню*/
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: rgba(116, 99, 216, 0.7);
        border-radius: 6px;
        box-shadow: 2px 2px 15px 4px rgba(0, 0, 0, 0.2);
        height: 100%;
      }
      li  {
        padding: 20px 30px;
        cursor: pointer;
        border-radius: 6px;
        transition: background-color 0.5s;

      }
      li:not(.search , .nav):hover  {
        background-color: rgba(66, 40, 108, 0.9);
        color: white;
        text-shadow: 0 0 9px cyan;
      }
      /**/
      .card {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
         background-color: rgba(255, 255, 254, 0.7);
         padding: 30px;
         border-radius: 6px;

      }
      .card a {
        display: block;
        transition:  0.6s;
      }
      .card a:hover {
        opacity: 0.6;
      }

      .dropdown {
        position: relative;
        display: inline-block;
        cursor: pointer;
      }
      .dropdown-content {
        width: 600px;
        padding: 10px;
        background-color: rgba(255, 255, 254, 0.9);
        position: absolute;
        top: 50%;
        right: 50%;
        z-index: 1;
        display: none;
        transform: translate(0 , -10px);
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .name {
        padding: 20px;
        text-align: center;
        font-family: Dancing Script ;
      }
      @media screen and (max-width: 992px) {
        body {
          background-image: url("body_background.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          font-size: 24px;
        }
        .grid-container {
          grid-template-areas:'navbar navbar  ' 'header header  '  'menu  main  '  'menu  side  ' ' footer footer ';
          grid-template-columns:  2fr 3fr;
        }
        .dropdown:hover .dropdown-content {
        display: none;
      }
      }
      @media screen and (max-width: 630px) {
        .home , .setting , .account {
        display: none;
        }
      }
      @media screen and (max-width: 600px) {
        body {
          font-size: 22px;
        }
        .grid-container {
          grid-template-columns:  1fr;
          grid-template-areas:'navbar ' ' header '  '  menu'  '  main ' '  side' '  footer';
        }
        
        
        .menu {
          text-align: center;

        }
      }