* {
      box-sizing: border-box;

    }
    body {
      background-image: url("body_background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      font-size: 28px;
      margin: 0;
      line-height: 1.5;
      }
      img {
        max-width: 100%;
        height: auto;
      }
      h1 {
        clear: left;
      } 
      .navbar {
        grid-area: navbar;
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: none;
        border-radius: 0;
      }
      .navbar li {
        border-radius: 30px;
        color: whitesmoke;
        float: left;
        font-size: 20px;
        padding: 10px;
      }
      .navbar li:not(.search):hover {
        background-color:rgba(23, 23, 23, 0.6) ;
      }
      input[name="search"] {
        width: 100px;
        border-radius: 8px;
        outline: none;
        background-image: url("search_icon.png");
        background-repeat: no-repeat;
        background-size: 15px 15px;
        background-position: 95%;
        transition: 0.7s;
      }
      input[name="search"]:focus {
        width: 200px;
      }
      .header {
        background-color: rgba(0, 0, 0, 0.6);
        color: whitesmoke;
        grid-area:header;
        text-align: center;
        position: relative;
      }
      
      .menu {
        grid-area:menu;
        padding-top: 20px ;
      }
      .main {
        grid-area:main;
        padding-top: 20px;
      }
      .side {
        grid-area:side;
        padding-top: 20px;
        
      }
      .footer {
        grid-area:footer;
        text-align: center;
        background-color: #6239a7;
        box-shadow: -2px -2px 25px 8px rgba(0, 0, 0, 0.5);
      }

      .grid-container {
      display: grid;
      grid-template-columns:  1fr 3fr 2fr;
      grid-template-areas: 'navbar navbar navbar' 'header header header ' 'menu  main side' 'footer footer footer '; 
      grid-auto-rows: minmax(100px, auto);
      grid-column-gap: 20px;
      }
      
      /*меню*/
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: rgba(152, 72, 255, 0.8);
        border-radius: 6px;
        box-shadow: 2px 2px 15px 4px rgba(0, 0, 0, 0.2);
        height: 100%;
      }
      li  {
        padding: 20px 30px;
        cursor: pointer;
        border-radius: 6px;
        transition: background-color 0.5s;

      }
      li:not(.search):hover {
        background-color: rgba(100, 33, 200, 0.8);
        color: whitesmoke;
      }
      /**/
      .card {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
         background-color: rgba(255, 255, 254, 0.8);
         padding: 30px;
         border-radius: 6px;

      }
      .card a {
        display: block;
        transition:  0.6s;
      }
      .card a:hover {
        opacity: 0.6;
      }
      .dropdown {
        position: relative;
        display: inline-block;
        cursor: pointer;
      }
      .dropdown-content {
        width: 600px;
        padding: 10px;
        background-color: rgba(255, 255, 254, 0.9);
        position: absolute;
        top: 50%;
        right: 50%;
        z-index: 1;
        display: none;
        transform: translate(0 , -10px);
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .name {
        padding: 20px;
        text-align: center;
      }
      @media screen and (max-width: 992px) {
        body {
          background-image: url("body_background.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }
        .grid-container {
          grid-template-areas:'navbar navbar  ' 'header header  '  'menu  main  '  'menu  side  ' ' footer footer ';
          grid-template-columns:  2fr 3fr;
        }
        .dropdown:hover .dropdown-content {
        display: none;
      }
      }
      @media screen and (max-width: 600px) {
        .grid-container {
          grid-template-columns:  1fr;
          grid-template-areas:'navbar ' ' header '  '  menu'  '  main ' '  side' '  footer';
        }
        .menu {
          text-align: center;

        }
      }